run = "python3 main.py"
language = "python"
entrypoint = "main.py"

[workflows]
runButton = "Flask App"

[[workflows.workflow]]
name = "Flask App"
author = 39842365
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 main.py"
